<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Gestion étudiants</title>
        <link rel="stylesheet" href="{% static "etudiant/css/bootstrap.css" %}">
    </head>
    <body>
        <div class="container mt-5">
             <h2 class="text-center alert alert-danger">FONCTION CRUD</h2>
             {% block content %}{% endblock content %}
        </div>
        <script src="{% static "etudiant/js/bootstrap.js" %}"></script>
        <script src="{% static "etudiant/js/jquery.js" %}"></script>
        <script src="{% static "etudiant/js/popper.js" %}"></script>
    </body>
</html>